.accomodations_section {
  padding: 20px 0px;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // align-items: center;
    .photo {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .link_photo {
        display: flex;
        align-items: center;
        img {
          width: 20%;
        }
      }
      .upload_photo {
        label {
          padding: 10px;
          border: 2px solid #000;
          cursor: pointer;
          input {
            display: none;
          }
        }
      }
    }
    .perks {
      .items {
        display: flex;
        gap: 10px;
      }
    }
    .time {
      display: flex;
    }
  }
}
