.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
  height: 15vh;
  background-color: #f7f7f7;
  padding: 20px 100px;
  color: #222222;

  .left-section {
    display: flex;
    column-gap: 10px;
    li {
      list-style-type: none;
      a {
        color: #222222;
      }
    }
  }

  .right-section {
    @extend .left-section;
    i {
      font-size: 1.2rem;
    }
  }
}
