.booking {
  margin: 40px 0px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  h1 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 800;
    padding: 10px 0px;
  }

  .booking_card {
    width: 80%;
    margin: 25px auto;
    display: flex;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    .card_image {
      width: 30%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card_content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      flex-grow: 1;
      h2 {
        font-size: 1.2rem;
      }
      .time_frame {
        display: flex;
        align-items: center;
        gap: 12px;
        border-top: 1px solid #7d7777b3;
        padding: 10px 0px;
        span {
          i {
            margin-right: 3px;
            color: rgb(4, 153, 212);
          }
        }
      }
      .price {
        span {
          i {
            margin-right: 3px;
            font-size: 1.1rem;
            color: rgba(255, 255, 0, 0.956);
          }
        }
      }
    }
  }
}
