.room_section {
  width: 86%;
  margin: 30px auto;
  min-height: 100vh;
  .heading_main {
    font-size: 1.7rem;
  }
  .sub_main {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .reviews {
      i {
        color: #ffd700;
        margin: 0px 5px 0px 0px;
      }
    }
    .save {
      i {
        margin: 0px 10px;
      }
    }
  }

  .middle_section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 50px;
    .reservation_section {
      .reservation_card {
        padding: 25px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 10px;
        min-width: 380px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .top_Ofcard {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            span {
              font-size: 1.6rem;
              font-weight: bold;
            }
            i {
              margin: 0px 3px;
              color: #ffd700;
            }
            a {
              color: #000;
            }
          }
        }
        .inputs_ {
          border: 1px solid #00000035;
          border-radius: 15px;
          ._in_out {
            display: flex;
            .cld {
              padding: 10px;
              input {
                border: none;
              }
            }
            .out {
              border-left: 1px solid #00000035;
            }
          }
          .booking_info {
            padding: 15px 10px;
            display: flex;
            flex-direction: column;
            border-top: 1px solid #00000035;
            input {
              font-size: 0.9rem;
              padding: 10px 12px;
              border-radius: 20px;
              outline: none;
              border: 0.5px solid #00000035;
              margin-top: 5px;
            }
          }
        }
        > button {
          padding: 10px 10px;
          background-color: #ff385c;
          font-size: 1.1rem;
          cursor: pointer;
          border-radius: 20px;
          color: #fff;
          border: 1px solid #ff385c;
        }
      }
    }
    .host_section {
      position: relative;
      z-index: 1;
      border: 1px solid rgba(162, 161, 161, 0.674);
      border-width: 1px 0px 1px 0px;
      width: 80%;
      align-items: center;
      display: flex;
      .header_section {
        padding: 0px 5px;
        display: flex;
        column-gap: 15px;
        align-items: center;
        img {
          width: 50px;
        }
        .hosted_by {
          p {
            &:nth-child(1) {
              font-weight: bold;
              margin-bottom: 3px;
            }
            &:nth-child(2) {
              font-size: 0.9rem;
              color: #222222;
            }
          }
        }
      }
    }
  }
  .description_section {
    width: 60%;
    border: 1px solid rgba(162, 161, 161, 0.674);
    border-width: 0px 0px 1px 0px;
    padding: 0px 0px 30px 0px;
    ul {
      padding: 20px 5px;
      margin-bottom: 30px;
      border: 1px solid rgba(162, 161, 161, 0.674);
      border-width: 0px 0px 1px 0px;
      li {
        display: flex;
        align-items: center;
        i {
          color: #222222;
          width: 20px;
          font-size: 1.7rem;
        }
        margin: 20px 0px;
        list-style-type: none;
        display: flex;
        column-gap: 40px;
        > div {
          > p {
            &:nth-child(1) {
              font-weight: bold;
            }
            &:nth-child(2) {
              color: rgba(0, 0, 0, 0.674);
            }
          }
        }
      }
    }
    .description {
      padding: 0px 5px;
      text-align: justify;
      color: rgba(0, 0, 0, 0.841);
    }
  }
}
