.review_ {
  .header {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      width: 2.5rem;
    }
  }
  .content_ {
    margin: 15px 0px;
    p {
      font-size: 0.9rem;
      color: #535353;
    }
  }
  .reacts {
    display: inline-flex;
    gap: 12px;
    background-color: #27272713;
    padding: 5px 15px;
    border-radius: 20px;
    i {
      font-size: 1.3rem;
    }
  }
}
