$pink_color: #fa4d6d;
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  .logo {
    display: flex;
    align-items: center;
    i {
      font-size: 2rem;
      font-weight: bold;
      margin: 0pc 5px;
      color: $pink_color;
    }
    h1 {
      font-weight: 700;
      font-size: 1.7rem;
    }
  }

  .features {
    display: flex;
    column-gap: 15px;
    align-items: center;
    border-radius: 30px;
    padding: 10px 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    :link {
      text-decoration: none;
      font-weight: 600;
    }

    i {
      background-color: $pink_color;
      font-weight: bold;
      font-size: 1.1rem;
      padding: 8px;
      border-radius: 50%;
      color: #fff;
    }
  }

  .other {
    i {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}
